<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PSIP" value="9.112.37.45"/>
    <add key="PSPort" value="9000"/>
    <add key="MMSIP" value="9.112.37.45"/>
    <add key="MMSPort" value="30001"/>

    <add key="MDSIP" value="9.112.37.45"/>
    <add key="MDSPort" value="30020"/>
    <add key="MDS_ID" value="MDS 001"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>