<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ormAssembleSuffix" value="Xugl.ImmediatelyChat.Common,Xugl.ImmediatelyChat.Core,Xugl.ImmediatelyChat.Model,Xugl.ImmediatelyChat.Data.EF,Xugl.ImmediatelyChat.IServices,Xugl.ImmediatelyChat.Services" />
    <add key="ModelMapping" value="Xugl.ImmediatelyChat.Data.EF.Mapping.MMS" />
    <add key="DBStr" value="Xugl.ImmediatelyChat.DBContext"/>
    <add key="PSIP" value="9.112.37.113" />
    <add key="PSPort" value="9000" />
    <add key="MMSIP" value="9.112.37.113" />
    <add key="MMSPort" value="30001" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Xugl.ImmediatelyChat.DBContext" connectionString="Data Source=ADMINIB-FAK28VB;database=ImmediatelyChat_MMS;uid=sa;pwd=xgl52162987" providerName="System.Data.SqlClient" />
    <add name="Xugl.ImmediatelyChat.MysqlContext" connectionString="Data Source=localhost;port=3306;Initial Catalog=ImmediatelyChat_MMS;user id=root;password=xgl52162987;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
</configuration>