<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My MVC-Bootstrap Site</title>
        @Styles.Render("~/Content/bootstrap.min.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrapval")
    </head>
    <body>
        @RenderBody()
    </body>
</html>