<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ormAssembleSuffix" value="Xugl.ImmediatelyChat.Core,Xugl.ImmediatelyChat.Model,Xugl.ImmediatelyChat.Data.EF,Xugl.ImmediatelyChat.IServices,Xugl.ImmediatelyChat.Services,Xugl.ImmediatelyChat.AppService" />
    <add key="MSGserverHostIP" value="192.168.1.6" />
    <add key="MSGserverHostPort" value="9010" />
    <add key="ServerHostIP" value="192.168.1.6" />
    <add key="ServerHostPort" value="9020" />
    <add key="WebSiteIP" value="192.168.1.6" />
    <add key="WebSitePort" value="9000" />
    <add key="MsgContainerCount" value="5" />
    <add key="MsgContainerFullCount" value="100" />
    <add key="MsgOutContainerCount" value="500"/>
  </appSettings>
  <connectionStrings>
    <add name="IBM.Woox.DBContext" connectionString="Data Source=ADMINIB-FAK28VB;database=ImmediatelyChat;uid=sa;pwd=xgl52162987" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>