<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ormAssembleSuffix" value="Xugl.ImmediatelyChat.Common,Xugl.ImmediatelyChat.Core,Xugl.ImmediatelyChat.Model,Xugl.ImmediatelyChat.Data.EF,Xugl.ImmediatelyChat.IServices,Xugl.ImmediatelyChat.Services" />
    <add key="ModelMapping" value="Xugl.ImmediatelyChat.Data.EF.Mapping.MCS"/>
    <add key="PSIP" value="192.168.1.6"/>
    <add key="PSPort" value="9000"/>
    <add key="MCSIP" value="192.168.1.6"/>
    <add key="MCSPort" value="30011"/>
    <add key="MCS_ID" value="MCS 001"/>
  </appSettings>
  <connectionStrings>
    <add name="Xugl.ImmediatelyChat.DBContext" connectionString="Data Source=ADMINIB-FAK28VB;database=ImmediatelyChat_MCS1;uid=sa;pwd=xgl52162987" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>